<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676476441933-jpjhfmojpp70kmahicbeu3du3tcstpdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676476441933-jpjhfmojpp70kmahicbeu3du3tcstpdq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>676476441933-g0hqfpcqleifj88fhr6838gum6n6nnsi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeAHjekbo-M6gE4RVpa9Hjz6Xq4orlxWs</string>
	<key>GCM_SENDER_ID</key>
	<string>676476441933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makanis.app</string>
	<key>PROJECT_ID</key>
	<string>makani-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>makani-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676476441933:ios:233778ebadc73213ae9304</string>
</dict>
</plist>